extends assets/jade/default.jade

block body
  include assets/jade/header.jade
  include assets/jade/front-page.jade
  include assets/jade/toc.jade
  include assets/jade/interstitial-image.jade
  include assets/jade/article-group.jade
  include assets/jade/interstitial-text.jade
  include assets/jade/support.jade
  //- = '\n'
  //- include assets/jade/media.jade
  //- = '\n'
  //- include assets/jade/footer.jade
  //- = '\n'
