// Variables
mBlue       = #3D76C5
mBlueOld    = #6A92C9
mDkBlue     = #00264F
mLtBlue     = #BCCEE7
mOrange     = #FE6800
mLtOrange   = #FFC3A5
mGreyBlue   = #D1D5DE
mLtGreyBlue = #E3E9FD
mDkGreyBlue = #9DA5B3
mXdkGreyBlue = #868E9C
mTextBlue   = #29333D
mTextLtBlue = #546982

font-family-sans = "Helvetica Neue", Helvetica, Arial, sans-serif
font-family-serif = Georgia, serif


// Styles

body, table.body
  background mGreyBlue
  color mTextBlue

h1
  font-family font-family-sans
  font-size 24px
  font-weight bolder
  letter-spacing -0.02em
  line-height 1.25
  color mDkBlue
  margin-top 24px
  margin-bottom 24px

h2
  font-family font-family-sans
  font-size 18px
  font-weight bolder
  line-height 1.25
  color mBlue
  margin-top 8px
  margin-bottom 8px

h3
  font-family font-family-sans
  font-size 16px
  font-weight normal
  line-height 1.25
  color mBlue
  margin-top 20px
  margin-bottom 8px

p, li
  font-family font-family-serif
  font-size 16px
  color mTextBlue
  line-height 24px
  &.margin-zero
    margin 0

a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
  text-decoration none
  color mBlue
  transition color 0.15s ease
  &:hover, &:active
    color mOrange !important
  &:visited
    color mBlue

ul, li
  margin 0
  padding 0
li
  margin-bottom 8px


hr
  width 100%
  height 1px
  background-color mDkGreyBlue
  margin 0

hr.bold
  width 200px
  height 4px
  background-color mDkBlue
  margin 28px auto 0 0

.wrapper
  background white
  &.no-bg
    background mGreyBlue

.sectionBreak
  height 20px
  background mGreyBlue

.imgClass.floatLeft
  float right
  margin 4px

.imgClass.floatRight
  float right
  margin 4px

.title-container
  margin-bottom 40px

.pad-bottom
  padding-bottom 20px !important

.donationStats
  text-align: center !important;
  td
    margin 10px 0

//————————————————————— OLD??? ——————————————————————
//————————————————————— OLD??? ——————————————————————
//————————————————————— OLD??? ——————————————————————
//————————————————————— OLD??? ——————————————————————
//————————————————————— OLD??? ——————————————————————


.media
  li
    list-style none
  h3, p
    margin-bottom 6px
  a
    color mTextLtBlue !important
    text-decoration underline !important
  .caption
    text-align left
    text-shadow none
    color mDkGreyBlue

.full-width
  width 100% !important


table[class='body'] table.column td.width-auto,
table[class='body'] table.columns td.width-auto
  width auto !important

.caption p, p.caption
  font-family font-family-sans
  font-size 12px
  color mTextLtBlue
  text-shadow 0 1px 0 mLtGreyBlue
  text-align center
  line-height 18px

.interstitial
  padding 16px 0
  text-align center
  hr
    margin 16px 0
  p
    text-align center !important
    font-size 16px !important
    color mTextLtBlue !important
    text-shadow 0 1px 0 mLtGreyBlue !important
    line-height 1.5 !important
  a
    text-decoration underline !important

.white .interstitial p,
.white p.interstitial
  color mBlueOld !important
  text-shadow none !important
  a
    color mBlueOld !important


.interstitial-image img
  border 4px solid white
  box-sizing border-box;

  .caption p
    text-align center

.interstitial-text
  padding 10px 0
  margin-bottom 10px

span.num
  display inline-block
  font-family font-family-sans
  font-weight bolder
  font-size 10px
  color white
  background-color mLtBlue
  border-radius 500px
  width 17px
  height 17px
  line-height 17px
  text-align center
  margin-right 6px
  position relative
  top -1px
  left -1px

body, table.body
  background mGreyBlue
  color mTextBlue

.container.white
  background-color #FFFFFF
  margin-bottom 20px
  padding-bottom 40px


.email-header
  td
    vertical-align bottom

.header-logo, .footer-logo
  text-align center
  a
    width 83%
    margin-top 16px
    display inline-block

.header-date, .header-link
  vertical-align bottom
  color mTextLtBlue

.header-link a
  color mTextLtBlue

.header-link
  text-align right

.footer-contact
  vertical-align bottom
  .caption
    text-align left !important
    margin-bottom 0
    text-shadow none
.footer-address
  vertical-align bottom
  .caption
    text-align right
    margin-bottom 0
    text-shadow none
.footer-link
  p
    text-align center
  a
    text-align center
    color mXdkGreyBlue

.columns td.title-container
    background-color white
    position relative
    top -80px
    padding 30px
    h1
      font-size 28px
      margin-top 0
      margin-bottom 0
    p
      font-size 18px
      line-height 1.5
      margin 18px 0

table.title-container-table
  margin-bottom -80px

img.signature
  height 60px
  float none

.table-of-contents h2
  margin-top 24px

td.stats-container.blue
  text-align center
  vertical-align middle
  margin-bottom 30px
  padding 0
  table.eight
    border 1px solid
    border-radius 3px
    padding 4px 0 !important
    text-align center
    vertical-align middle
    border-color mGreyBlue
    border-collapse: separate !important;
    td
      padding-bottom 0
  .block-grid td
    vertical-align middle
    text-align center
    padding 7px 0 !important

td.stats-container.orange
  text-align center
  vertical-align middle
  margin-bottom 30px
  padding 0
  .eleven
    padding 0
  .stats-cell
    border 1px solid
    border-radius 3px
    padding 0 !important
    border-color mLtOrange
    border-collapse: separate !important;
    width 100% !important
    a
      display block
      padding 9px 0 !important
      &:hover
        transition all 0.2s ease
        border-color mOrange
        background-color mOrange
        *
          color white
    td
      text-align center
      padding 0


td.stats-cell
  text-align center
  padding 6px !important

.stats-amount
  font-family font-family-serif
  font-size 18px
  color mBlueOld
  display block

.stats-desc
  font-family font-family-sans
  font-size 10px
  color mBlueOld
  display block

.middle-border
  border-left 1px solid mGreyBlue
  border-right 1px solid mGreyBlue

.stats-donate-button
  h2
    color mOrange
    margin 0
    text-align center
  .stats-desc
    color mOrange
