= '\n'
// —————————— ARTICLE GROUP —————————— 
+whiteCard('Treating PTSD with MDMA-Assisted Psychotherapy')

  tr
    +gridWhole()
      h2 Boulder: Last Subject Receives Final Experimental Treatment
      +asideRight('http://maps.org/images/participants/HaniaPhoto.jpeg', 'Study participant Hania and her husband Will.')
      p On December 4, 2015, the last subject received their final experimental treatment in our Phase 2 study of MDMA-assisted psychotherapy for 23 subjects with chronic, treatment-resistant PTSD in Boulder, Colorado. This study has enrolled a total of 29 subjects, with six dropouts. Each participant who completed this study received three experimental MDMA-assisted psychotherapy sessions along with multiple preparatory and integrative psychotherapy sessions. Primary outcome data is collected four weeks following each subject’s second session, when the subjects and therapists are unblinded. Subject scores on the Clinician Administered PTSD Scale (CAPS) following the unblinded third session will not be included in the primary statistical analysis, and is intended to provide additional data to guide the design of our upcoming Phase 3 trials. “For the first time in my life, I was able to face my worst fears and memories with the quiet knowledge that they could no longer reach out and destroy me,” reports Hania Sakal, who participated in the trial. “The certainty was absolute: with the help of MDMA and the therapists who were there to witness and guide my journey, I was safe from harm and from the people in my past who no longer had the power to hurt me.” The final results will begin to be prepared for publication in early 2016, with publication expected in late 2016.
      p Your tax-deductible donation will be matched up to $7,000 by two generous donors (Bailey Gimbel and John McCormick). This offer ends on December 31, or when all matching funds have been met. We have already raised $727,000 of the $771,000 needed for the Boulder study, with just $44,000 needed to complete the study.
      p: a(href='http://www.maps.org/mdma-boulder') Learn more…
  tr
    +donationStats('771,000', '727,000', '44,000')

  tr
    +gridWhole()
      h2 Therapist Training: Three Participants Receive MDMA-Assisted Psychotherapy
      p From November 11-13, 2015, three new subjects were treated in our ongoing Phase 1 study of MDMA-assisted psychotherapy for therapists in training to conduct clinical trials of MDMA-assisted psychotherapy for PTSD. Led by Principal Investigator Michael Mithoefer, M.D., this study is designed as a placebo-controlled, double-blind study to assess the psychological effects of MDMA when administered to healthy volunteers. These participants included Ben Sessa, MBBS (M.D.), Mathew Hoskins, MBBS (M.D.), and Chrissie Wilson, BSc., who are preparing for an upcoming fMRI neuroimaging study of the effects of MDMA on the brains of people with PTSD, co-sponsored by MAPS, The Beckley Foundation, Anton Bilton, and the Mosley Foundation.
      p "It was such an incredible experience to be able to train in this exciting new type of therapy,” reports Dr. Hoskins. “I've learnt so much from the therapists, but also from the experience of MDMA in a clinical setting. As a result we've changed the timings of our own protocol, and I feel confident and competent to support our study participants through their own experience." This study has now treated 10 participants since it began in 2010. In preparation for Phase 3 of our MDMA-assisted psychotherapy for PTSD development program, we are currently updating the protocol to request approval for a multi-center study, with a new location in Boulder, Colorado, under the direction of Marcela Ot’alora, in order to increase enrollment to cover training needs over the next five years.
      p: a(href='http://www.maps.org/mdma-boulder') Learn more…
  tr
    +donationStats('429,000', '35,000', '394,000')

  tr
    +gridWhole()
      h2 Israel: Ninth Subject Enrolled
      p On November 4, 2015, the ninth subject was enrolled in our ongoing Israeli study of MDMA-assisted psychotherapy for PTSD. Led by Principal Investigator Moshe Kotler, M.D., this Phase 2 study will treat up to 10 subjects with chronic, treatment-resistant PTSD from any cause. We will close enrollment at the end of this month in order to gather the data for submission to the U.S. Food and Drug Administration as part of our End-of-Phase 2 meeting, in preparation for Phase 3.
      p: a(href='http://www.maps.org/mdma-boulder') Learn more…
  tr
    +donationStats('509,000', '92,000', '417,000')
  
  tr
    +gridWhole()
      h2 U.S. Veterans: 20 of 24 Participants Complete Long-Term Follow-Up
      p On November 2 and 3, 2015, the 19th and 20th participants completed 12-month follow-up interviews in our largest Phase 2 study of MDMA-assisted psychotherapy for 24 U.S. veterans, firefighters, and police officers with chronic, treatment-resistant PTSD. All treatment sessions have been completed. Led by Principal Investigator Michael Mithoefer, M.D., and Co-Therapist Annie Mithoefer, B.S.N., in Charleston, South Carolina, the data from this study are now being prepared for analysis and publication in a peer-reviewed scientific journal. “When we applied to the FDA for our first study in October 2001, primarily aimed at treating people with crime-related trauma such as childhood sexual abuse, rape, or other assault, we didn’t know that the Afghanistan and Iraq wars would be starting soon,” writes Dr. Mithoefer in his all-new article in the Winter 2015 MAPS Bulletin. “Since then, the need for additional treatments for returning veterans with PTSD has become painfully and increasingly pressing.”
      p: a(href='http://www.maps.org/mdma-boulder') Learn more…
  tr
    +donationStats('1,429,000', 'complete')
    
    
    
+whiteCard('MDMA-Assisted Psychotherapy for Anxiety Associated with Life-Threatening Illness')
  tr
    +gridWhole()
      h2 Marin: Sixth Subject Enrolled and Treated
      p On November 30, 2015, the sixth subject received their first experimental treatment in our ongoing study of MDMA-assisted psychotherapy for anxiety associated with life-threatening illness. This subject was enrolled on November 4. Led by Principal Investigator Phil Wolfson, M.D., with co-therapist Julane Andries, LMFT, in Marin, Calif., this study will treat 18 subjects suffering from anxiety related to a life-threatening disease that is either ongoing or in remission with a possibility of recurrence. “I lost my oldest son Noah to leukemia when he was nearly 17. He taught me about the passion to live and to try anything, no matter how difficult, to keep his life going,” recalls Dr. Wolfson in his Winter 2015 MAPS Bulletin article. “Our current study with 18 subjects embraces Noah’s path. His inspiration guides my work with those who struggle with life-threatening illnesses.” We currently expect all experimental sessions in this study will be completed in late 2016.
      p: a(href='http://www.maps.org/mdma-boulder') Learn more…
  tr
    +donationStats('627,000', '194,000', '433,000')

+whiteCard('MDMA-Assisted Therapy for Social Anxiety in Autistic Adults')
  tr
    +gridWhole()
      h2 Social Anxiety in Autistic Adults: Tenth Participant Treated, 11th Enrolled
      p On November 14, 2015, the 10th participant was treated in our ongoing study of MDMA-assisted therapy for social anxiety in 12 adults on the autism spectrum. The 11th subject was enrolled on November 15. We plan to enroll one final subject in this study. “Unlike the PTSD studies, the social anxiety study includes interactions with the researchers that are intended to boost social confidence and provide practice opportunities to try new social skills in a safe setting,” report Principal Investigator Charles Grob, M.D., and Co-Investigator Alicia Danforth, Ph.D., in their new Winter 2015 MAPS Bulletin article. “Additionally, participants complete a video-based assessment of non-verbal social cues that involves watching actors in various social interactions.” Sponsored by MAPS, this is a collaborative study between MAPS and the Los Angeles Biomedical Research Institute at Harbor-UCLA Medical Center, with blood plasma biomarker analysis being conducted by researchers at Stanford University.
      p: a(href='http://www.maps.org/mdma-boulder') Learn more…
  tr
    +donationStats('397,000', '13,000', '369,000')
