= '\n'
// —————————— ARTICLE GROUP —————————— 
+whiteCard('Treating PTSD with MDMA-Assisted Psychotherapy')

  tr
    +gridWhole()
      h2 Veterans: Last Subject Receives Final  Experimental Session
      p On October 2 and 9, 2015, the last two subjects were treated in our ongoing study of <a href="http://www.maps.org/mdma-boulder">MDMA-assisted psychotherapy for 23 subjects with PTSD</a> from sexual assault, violent crime, war, natural disasters, or any other cause, taking place in Boulder, Colorado. This will be the second-largest study ever conducted of MDMA-assisted psychotherapy for PTSD, having enrolled 19 women and nine men, with five subjects dropped out or excluded for not meeting study criteria, and 23 subjects to be included in a final analysis (all 29 will be included in our intent-to-treat analysis, a more conservative approach that analyzes data from all subjects enrolled in the study). Primary outcome data is anticipated to be available in December 2015. The final results will begin to be prepared for publication in early 2016, with publication expected in late 2016.
      p: a(href='http://www.maps.org/mdma-boulder') Learn more…
  tr
    +donationStats('1,428,000', '1,386,000', '42,000')

  tr
    +gridWhole()
      h2 Boulder: Subject 19 Receives First Experimental Treatment
      p On July 17, 2015, subject 19 out of 23 was treated in our ongoing study of MDMA-assisted psychotherapy for subjects with PTSD from sexual assault, violent crime, war, natural disasters, or any other cause, taking place in Boulder, Colorado. Note: To more accurately reflect current progress and account for subjects enrolled but not included in the final analysis due to dropouts or not meeting inclusion/exclusion criteria for factors that were identified after enrollment, we are now reporting study subject numbers instead of the total number of subjects that have been enrolled. Several women from this study tell their stories in a feature article in the September 2015 issue of Marie Claire, expected on newsstands August 10. In addition to obtaining Phase 2 data on the safety and effectiveness of MDMA-assisted psychotherapy for PTSD, this study is also comparing outcomes between different combinations of male/female co-therapist teams. Therapists for this study include and Marcela Ot'alora, M.A., L.P.C. (Principal Investigator); Sara Gael, M.A.; Jim Grigsby, Ph.D.; Allison McQueen, M.A., RPsych.; Bruce Poulter, R.N., M.P.H.; Saj Razvi, L.P.C.; Sandra Van Der Veer, M.A., C.H.T.; and Will Van Der Veer, M.D. We expect that the final subject will be treated in October 2015. Primary outcome data is anticipated to be available in December 2015, and the final results prepared for publication in late 2016.
      p: a(href='http://www.maps.org/mdma-boulder') Learn more…
  tr
    +donationStats('1,428,000', '1,386,000', '42,000')
