include mixins.jade

doctype strict
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='ink.css' inline)
    link(rel='stylesheet', href='style.css' inline)
    link(rel='stylesheet', href='media.css' inline)
  body
    table.body
      tr
        td.center(align='center',valign='top')
          center
            // Email content
            block body