= '\n'
// —————————— EVENTS —————————— 
+whiteCard('Events', 'media')
  tr
    +gridWhole()
      h2 Report: Catharsis on the Mall: A Vigil for Healing the Drug War
  tr
    +gridWhole()
      +asideRight('http://maps.org/images/catharsis2015.jpg')
      p On Saturday, November 21, 2015, an interactive art installation dedicated to victims of the war on drugs was burned in the shadow of the Washington Monument in Washington, D.C., during Catharsis on the Mall: A Vigil for Healing the Drug War. This multi-day event took place during the 2015 International Drug Policy Reform Conference, and was co-sponsored by MAPS with support from the local Burning Man community and Dr. Bronner’s Magic Soaps. The event featured nationally recognized speakers, exhibits, art, community building, music, dance, and volunteers for MAPS’ Zendo Project psychedelic harm reduction service. “The Temple of Essence was made to look like a jail cell with the walls covered in a blackboard on which people could write personal notes about their pain and suffering from the Drug War,” reports MAPS Founder and Executive Director Rick Doblin, Ph.D. “As the burn took place at midnight on Saturday night, the temple exterior fell away to reveal the jail cell which then itself burned away. At sunrise on Sunday morning, as the DJ continued to play, we marveled that the event actually took place. Dreams can become more than a dream.”
      p Read about Catharsis on the Mall in the Burning Man Journal | Watch the video | View photos

  tr
    +gridWhole()
      h2 Webinar | Psychedelic Science and Spirituality: How to Apply What We’re Learning to Your Life: Now through December 16, 2015
  tr
    +gridWhole()
      +centeredImg('http://www.maps.org/images/ABrand_Evolver_PU_Banner_2015-Q4_600x300_Burge.png')
      p In this unique course from MAPS and Evolver Learning Lab, you will explore the frontier of current knowledge about psychedelics and spirituality, learn how researchers are studying these fascinating compounds, and discover how you can help create contexts for the safe and beneficial use of psychedelics for healing, spirituality, and personal growth. Brad Burge of the Multidisciplinary Association for Psychedelic Studies (MAPS) has invited a diverse and fascinating group of experts to help you understand, integrate, and learn to use insights from this transformative field.
      p #[a(href="http://www.maps.org/evolver?pk_campaign=EN-Dec15&pk_kwd=evolver") Learn more and register…]

  tr
    +gridWhole()
      h2 Ibogaine for the World Panel Discussion and Benefit Concert: December 12, 2015, Mill Valley, CA
      p Hear expert panelists speak about ibogaine and its potential for opiate detoxification. Panelists include Amy Emerson of MAPS; Mexico-based iboga therapist Christopher Laurance; a patient from Genesis Ibogaine Clinic in Rosarito, Mexico; Vicka Corey, Ph.D., of Brain Explained; Dr. HIPpocrates of underground press fame; Eugene Schoenfeld, M.D.; and Dana Beal, a long-time advocate for psychedelic harm reduction and the medical use of ibogaine. MAPS is fiscal sponsor of this special evening.
      p #[a(href="http://www.maps.org/evolver?pk_campaign=EN-Dec15&pk_kwd=evolver") Learn more and register…]

  tr
    +gridWhole()
      h2 Global Ibogaine Conference: March 14-16, 2016, Tepoztlán, Mexico
      p The 2016 Global Ibogaine Conference will convene experts from around the world to discuss ibogaine therapy, the climate of global drug policy, and the sustainability and traditional uses of Tabernanthe iboga. Speakers will include MAPS-sponsored ibogaine researcher Thomas Kingsley Brown, Ph.D.
      p #[a(href="http://www.maps.org/evolver?pk_campaign=EN-Dec15&pk_kwd=evolver") Learn more and register…]

  tr
    +gridWhole()
      h2 Psychedelic Science 2017: April 19-24, 2017, Oakland, CA
      p Mark your calendars! Psychedelic Science is coming back to the San Francisco Bay Area. The conference will return to the Oakland Marriott City Center in California from April 19-24, 2017. The conference will feature the latest findings in the psychedelic research community and is expected to sell out early. We are incredibly excited to start coordinating this monumental event. We will announce ticket sales, as well as opportunities to participate, closer to the date. For past conference information, speaker videos, and more from Psychedelic Science 2013, visit psychedelicscience.org.
      p #[a(href="http://www.maps.org/evolver?pk_campaign=EN-Dec15&pk_kwd=evolver") Learn more…]

