= '\n'
// —————————— FOOTER —————————— 

+sectionBreak()

+fullWidthWrapper('no-bg footer')
  tr
    +gridWhole('footer-header')
      a(href='http://www.maps.org')
        img.imgClass(src='img/maps-footer.gif' class='imgClass' alt='MAPS logo' width='200')

      p.caption.floatLeft
        a(href='http://www.maps.org') www.maps.org
        br
        a(href='tel:18314296362') tel:  +1 831 429 MDMA
        br
        | fax: +1 831 429 6370

      p.caption.floatRight 
        | 1115 Mission Street#[br]Santa Cruz, CA, USA#[br]95060-9989
  tr
    td: hr

+fullWidthWrapper('no-bg footer')
  tr
    +gridHalf()
      table: tr
        +socialLink('twitter', 'http://www.twitter.com/mapsnews')
        +socialLink('facebook', 'http://www.facebook.com/mapsmdma')
        +socialLink('instagram', 'http://www.instagram.com/mapsnews')
        +socialLink('youtube', 'http://www.youtube.com/mapsmdma')
    +gridHalf()
      table: tr
        +socialLink('reddit', 'http://www.reddit.com/u/mapspsychedelic')
        +socialLink('pinterest', 'http://www.pinterest.com/mapsnews')
        +socialLink('tumblr', 'http://mapsnews.tumblr.com/')
        +socialLink('google-plus', 'http://plus.google.com/u/0/114671001319740333157/')

      
+fullWidthWrapper('no-bg footer')
  tr
    td: hr
  tr
    table: tr
      +gridThird()
        p.footer-link: a(href='') Share
      +gridThird()
        p.footer-link: a(href='') About MAPS
      +gridThird()
        p.footer-link: a(href='') Donate
  tr
    table: tr
      +gridHalf()
        p.footer-link: a(href='') Update subscription preferences
      +gridHalf()
        p.footer-link: a(href='') Unsubscribe from all MAPS updates

+sectionBreak
+sectionBreak