// —————————— FOOTER —————————— 
+fullWidthRow('footer email-footer pad-bottom')
  +row('pad-bottom')
    td.four.sub-columns.footer-contact 
      p.caption
        a(href='http://www.maps.org') www.maps.org
        br
        a(href='tel:18314296362') tel:  +1 831 429 MDMA
        br
        | fax: +1 831 429 6370
    td.four.sub-columns.footer-logo.center
      a(href='http://www.maps.org')
        img(src='img/maps-footer.gif' class='center')
    td.four.sub-columns.footer-address.last
      p.caption 1115 Mission Street#[br]Santa Cruz, CA, USA#[br]95060-9989

  +fullWidthRow()
    +fullWidthRow()
      td.full-width: hr
    +fullWidthRow()
      +columns('six', 'social-container')
        td.sub-columns.three.twitter
          a(href='http://www.twitter.com/mapsnews')
            img(src='img/twitter.gif' width='48px' height='48px' class='social-icon')
        td.sub-columns.three.facebook
          a(href='http://www.facebook.com/mapsmdma')
            img(src='img/facebook.gif' width='48px' height='48px' class='social-icon')
        td.sub-columns.three.instagram
          a(href='http://www.instagram.com/mapsnews')
            img(src='img/instagram.gif' width='48px' height='48px' class='social-icon')
        td.sub-columns.three.last.youtube
          a(href='http://www.youtube.com/mapsmdma')
            img(src='img/youtube.gif' width='48px' height='48px' class='social-icon')
      +columns('six', 'last')
        td.sub-columns.three.reddit
          a(href='http://www.reddit.com/user/MAPSPsychedelic/')
            img(src='img/reddit.gif' width='48px' height='48px' class='social-icon')
        td.sub-columns.three.pinterest
          a(href='http://www.pinterest.com/mapsnews')
            img(src='img/pinterest.gif' width='48px' height='48px' class='social-icon')
        td.sub-columns.three.tumblr
          a(href='http://mapsnews.tumblr.com/')
            img(src='img/tumblr.gif' width='48px' height='48px' class='social-icon')
        td.sub-columns.three.last.google-plus
          a(href='http://plus.google.com/u/0/114671001319740333157/')
            img(src='img/google-plus.gif' width='48px' height='48px' class='social-icon')
    +fullWidthRow()
      td.full-width: hr

  +fullWidthRow('pad-bottom')
    td.sub-columns.three.footer-link
      p: a(href='http://www.maps.org') Unsubscribe
    td.sub-columns.three.footer-link
      p: a(href='http://www.maps.org') Share this Newsletter
    td.sub-columns.three.footer-link
      p: a(href='http://www.maps.org') About MAPS
    td.sub-columns.three.footer-link.last
      p: a(href='http://www.maps.org') Donate
