= '\n'
// —————————— FRONT PAGE —————————— 
+basicWrapper('white front-page no-margin-bottom')
  tr
    // ——— COVER IMAGE ———
    img.imgClass(width='640px' alt='Newsletter cover image' src='http://maps.org/images/dec15enintro.jpg')
  
+basicWrapper('white front-page no-margin-bottom')
  tr
    +gridCustom('50')
    +gridCustom('500', 'title-container')
      // ——— TITLE BLOCK ———
      h1 Last Experimental Treatments Completed in Colorado Study
      p Phase 2 trials of MDMA-assisted psychotherapy for PTSD near completion
      hr.bold  
    +gridCustom('50')

+basicWrapper('white front-page')
  tr
    +gridWhole()
      // ——— INTRO LETTER ——— 
      img.imgClass.floatRight(src="http://placehold.it/300x280")
      p Change is in the air. After almost 30 years, the Multidisciplinary Association for Psychedelic Studies (MAPS) is near the end of Phase 2 of our international MDMA-assisted psychotherapy for posttraumatic stress disorder (PTSD) research program, and on track to launch our much larger, multi-site Phase 3 trials in 2017. "These are exciting times building on work of many decades," writes MAPS Founder and Executive Director Rick Doblin, Ph.D., in the Winter 2015 MAPS Bulletin. "We have the real potential to make transformative progress not just within our own lifetimes, but in the near future."
      p On December 4, 2015, the last participant received their final experimental treatment in our Phase 2 study of MDMA-assisted psychotherapy for 23 subjects with chronic, treatment-resistant PTSD in Boulder, Colorado. We have already raised 94% of the funds we need to complete this study, with only $44,000 needed. Thanks to two generous donors, we have the opportunity to match the first $7,000 donated to complete this study. Please give now to double your gift so we can complete this vital study.
      p Last month, three new subjects participated in our ongoing Phase 1 study of MDMA-assisted psychotherapy for therapists in training to conduct clinical MDMA research. "It was such an incredible experience to be able to train in this exciting new type of therapy," reports Mat Hoskins, MBBS (M.D.), who is developing an upcoming fMRI neuroimaging study of the effects of MDMA on the brains of people with PTSD, to be sponsored in part by MAPS. "I've learnt so much from the therapists, but also from the experience of MDMA in a clinical setting…I feel confident and competent to support our study participants through their own experience."
      p In the December 2015 edition of the MAPS Email Newsletter, you'll also find:
      ul
        li Our fresh new website is cleaner, brighter, and optimized for mobile and desktop browsers
        li The all-new Winter 2015 MAPS Bulletin is now available online and in member mailboxes, including our 2015 Annual Financial Report and original articles
        li The ninth subject is enrolled in our nearly completed Israeli study of MDMA-assisted psychotherapy for PTSD
        li Additional subjects are enrolled and treated in our ongoing studies of MDMA-assisted psychotherapy for anxiety associated with life-threatening illness and MDMA-assisted therapy for social anxiety in autistic adults
        li The MAPS Store Winter Sale continues through January 7, with great gifts, new products, rare art, and discounts up to 40% on select items
      p Stay connected with the psychedelic science and medical marijuana community—follow us on Facebook, Twitter, YouTube, reddit, Tumblr, Pinterest, Google+, LinkedIn, and Instagram.
      p As we enter 2016—and get ready to celebrate MAPS' 30th anniversary—we reflect on how far we've come and how excited we are to take the next steps with you. With your ongoing support, a world where psychedelics and medical marijuana are safely and legally available for science, therapy, spirituality, creativity, and personal growth could be just around the bend.
      
  tr
    +gridWhole()
      +introLetterSignoff('Always upwards, together')
      p P.S. Right now you can double your gift to help complete our crucial study of MDMA-assisted psychotherapy for PTSD in Boulder, Colorado!

+sectionBreak()
