= '\n'
// —————————— HEADER —————————— 
+basicWrapper('header email-header')
  tr
    +gridFourth('header-date') November 2015
    +gridHalf('header-logo')
      a(href='http://www.maps.org')
        img(src='img/maps@2x.gif' alt='MAPS logo' width='100%' class='imgClass')
    +gridFourth('header-link')
      a(href='http://www.maps.org') maps.org
