// —————————— HEADER —————————— 
+fullWidthRow('header email-header hide-for-small')
  td.three.sub-columns.header-date November 2015
  td.six.sub-columns.header-logo
    a(href='http://www.maps.org')
      img(src='img/maps@2x.gif' alt='MAPS logo')
  td.three.sub-columns.header-link.last
    a(href='http://www.maps.org') maps.org


+fullWidthRow('header email-header show-for-small')
  td.six.sub-columns.header-date November 2015
  td.six.sub-columns.header-link
    a(href='http://www.maps.org') maps.org
+fullWidthRow('header email-header show-for-small')
  td.header-logo
    a(href='http://www.maps.org')
      img(src='img/maps@2x.gif' alt='MAPS logo')
