= '\n'
// —————————— HEADER —————————— 
+sectionBreak()

+fullWidthWrapper('email-header no-bg')
  tr
    +gridWhole()
      p.header-date.floatLeft November 2015
      p.header-link.floatRight 
        a(href='http://www.maps.org') maps.org
      a(href='http://www.maps.org')
        img.header-logo(src='img/maps@2x.gif' alt='MAPS logo' width='200')

+sectionBreak()