// —————————— HEADER —————————— 
+fullWidthRow('header email-header')
  td.three.sub-columns.header-date November 2015
  td.six.sub-columns.header-logo
    a(href='http://www.maps.org')
      img(src='img/maps@2x.gif')
  td.three.sub-columns.header-link
    a(href='http://www.maps.org') maps.org