= '\n'
// —————————— HEADER —————————— 
+fullWidthWrapper('header email-header no-bg')
  tr
    +gridFourth('header-date') November 2015
    +gridHalf('header-logo')
      a(href='http://www.maps.org')
        img.imgClass(src='img/maps@2x.gif' alt='MAPS logo' width='100%')
    +gridFourth('header-link')
      a(href='http://www.maps.org') maps.org
+sectionBreak()
