// —————————— INTERSTITIAL TEXT —————————— 
+container()
  +row()(class='interstitial interstitial-text')
    +columns('ten', 'last offset-by-one')
      td
        p Stay connected by signing up for the Zendo Project Email Newsletter, and following the Zendo Project on Facebook and Twitter.