= '\n'
// —————————— INTERSTITIAL TEXT —————————— 
+basicWrapper('no-bg')
  tr
    +gridCustom(400, 'interstitial')
      p Stay connected by signing up for the Zendo Project Email Newsletter, and following the Zendo Project on Facebook and Twitter.
