= '\n'
// —————————— INTERSTITIAL IMAGE —————————— 
+basicWrapper('no-bg')
  tr
    img.imgClass(src="http://www.maps.org/images/dec15enmid.png", width='auto', height='280px')
    
  tr
    +gridHalf('caption center')
      p The Winter 2015 edition of the MAPS Bulletin includes our Annual Financial Report, plus updates about our psychedelic and marijuana research, harm reduction, and outreach efforts.
        br
        a(href='http://www.maps.org/news/bulletin/winter-2015-vol-25-no-3-annual-report?pk_campaign=EN-Dec15&pk_kwd=bulletin')  
          | Read the new issue.
