// —————————— INTERSTITIAL TEXT —————————— 
+container('center')
  +columns('ten', 'last interstitial interstitial-text')
    td.text-pad
      p Stay connected by signing up for the Zendo Project Email Newsletter, and following the Zendo Project on Facebook and Twitter.