= '\n'
// —————————— MORE NEWS —————————— 
+whiteCard('More News')
  tr
    +gridWhole()
      h2 Help the Women’s Visionary Congress Reclaim Women’s Wisdom
      p Since 2006, the Women’s Visionary Congress (WVC) has been providing much-needed balance in the expanding conversation about psychedelics and consciousness. WVC supports the cultivation and preservation of both contemporary and ancestral wise woman traditions across global cultures, and hosts community conversations about the safe and respectful exploration of non-ordinary states of awareness. As WVC takes their next steps, they invite you to help strengthen and integrate the community for decades to come.
      +inlineLink('Learn how you can help', 'http://visionarycongress.org/reclaiming-womens-wisdom-balancing-conversation-consciousness/')

  tr
    +gridWhole()
      h2 Brazilian Scientists Launch Crowdfunding Campaign for MDMA/PTSD Research
      p From Plantando Consciencia: “Our main goal is to do a small proof-of-concept study in Brazil in 2016, and then to join MAPS in its international Phase 3 [MDMA-assisted psychotherapy for PTSD] study in 2017 [or 2018]. For the first study, we already have government approval from CONEP, the group that regulates and oversees clinical trials in Brazil. We have permission to start the study with four patients as soon as we receive the MDMA. We will thus start MDMA-assisted psychotherapy in Brazil, which could benefit thousands of victims of urban violence.”
      +inlineLink('Learn more', 'https://www.catarse.me/pt/mdma')

  tr
    +gridWhole()
      h2 Drug Policy Alliance Hiring Novel Psychoactive Substances Fellow
      p Drug war hysteria has fueled the media’s spread of misinformation on so-called “synthetic drugs,” which are more accurately known as a group as “novel psychoactive substances,” or NPS. This hysteria has in turn led to terrible policymaking, with substances being banned and harsh penalties enacted with little review or opposition. In order to keep up with media coverage and new laws popping up in states across the country, the Drug Policy Alliance is looking for an individual who is interested in monitoring these issues and coordinating strategies and responses. The main focus will be NPS that are most frequently in the news: synthetic cannabinoids like K2 &amp; Spice (among others), synthetic cathinones like alpha-PVP (“flakka”), and other substances like kratom.
      +inlineLink('Learn more', 'http://www.drugpolicy.org/about-us/jobs-and-internships/nps-fellow')


  tr
    +gridWhole()
      h2 Survey: Psychedelic Experiences Related to Death and Dying
      p The Psilocybin Research Project team at Johns Hopkins University School of Medicine is conducting an anonymous online survey of experiences that fundamentally altered beliefs or understanding about death and dying that occurred after taking a classic hallucinogen (e.g., psilocybin mushrooms, LSD, ayahuasca, mescaline, DMT, etc.).
      +inlineLink('Learn more and participate', 'http://www.psychedelicdeathanddyingsurvey.org/home.html')


