= '\n'
// —————————— SUPPORT MAPS —————————— 
+whiteCard('Support MAPS')
  tr
    +gridWhole()
      h2 November Giving Report: We Rely On Your Gifts to Achieve Our Mission
      p Over 230 people gave nearly $270,000 in the month of November 2015 to support MAPS’ psychedelic and medical marijuana research and education programs. We thank everyone who contributed, no matter the amount. A special thank you goes to all those who generously lead the way for psychedelic science:
      h3 General Support
      ul 
        li Joby Pritzker through the Scorpio Rising Fund ($200,000)
        li Jeremy P. Tarcher Trust ($50,000)
        li Justin Rosenstein ($10,000)
        li Anonymous ($2,373.08)
        li Mack Fuhrer ($2,000)
        li Psymposia ($1,175)
        li Jerry Greenfield ($1,000)
      p MAPS relies on the generosity of individual donors to achieve our mission. Research into the beneficial potential of psychedelics is again being conducted under federal guidelines, but no funding for psychedelic therapy research is yet available from governments or major foundations. That means that the future of psychedelic and marijuana research depends on individual donors and family foundations. Please consider making a gift today.
  //- 
  //-   
  //- 
  //- tr
  //-     +columns('seven')
  //-       td
  //-         p In July 2015, 484 individuals gave $96,640 to support MAPS' psychedelic research and edu-cation projects. Our special thanks goes to these generous donors:
  //-         h3 MDMA Research 
  //-         ul 
  //-           li Britt Selvitelle ($10,000) for MDMA-assisted psychotherapy for PTSD research 
  //-           li Dr. Philip Wolfson ($2,000) for anxiety associated with life-threatening illness study
  //-         h3 Outreach and Education
  //-         ul
  //-           li Mental Insight Foundation ($10,000) for our participation in the Grateful Dead Fare Thee Well Tour 
  //-         h3 General Support
  //-         ul
  //-           li Google Matching Gift ($2,723)
  //-           li Anonymous ($1,500)
  //- 
  //-     +sidebarImg( 'http://maps.org/news-letters/v25n2/v25n2_frontcover.png', 'Watch the video to learn about MDMA biomarker research being conducted at Stanford University.' )
  //- 
  //-   +row()
  //-     td
  //-       p Also, a warm thank you to all those who gave to our Zendo Project crowdfunding campaign on Indiegogo. We especially recognize Dr. Bronner's Magic Soaps, Britt Selvitelle, and two $10,000 anonymous donations, one a matching gift and one not processed through Indiegogo. <a href="http://www.maps.org/donate">maps.org/donate</a>
  //- 
  //-   +interstitialText('Learn about <a href="http://www.maps.org/donate">including MAPS in your will or trust.</a>')
