// —————————— SUPPORT MAPS —————————— 
+container()(class='white support')
  +basicColumn()
    h1 Support MAPS
    hr.bold
  +basicColumn()
    h2 July Giving Report: Our Special Thanks
    +row()
      +columns('seven')
        td
          p In July 2015, 484 individuals gave $96,640 to support MAPS' psychedelic research and edu-cation projects. Our special thanks goes to these generous donors:
          h3 MDMA Research 
          ul 
            li Britt Selvitelle ($10,000) for MDMA-assisted psychotherapy for PTSD research 
            li Dr. Philip Wolfson ($2,000) for anxiety associated with life-threatening illness study
          h3 Outreach and Education
          ul
            li Mental Insight Foundation ($10,000) for our participation in the Grateful Dead Fare Thee Well Tour 
          h3 General Support
          ul
            li Google Matching Gift ($2,723)
            li Anonymous ($1,500)

      +columns('four last')
        td
          +row()
            td
              img(src='http://maps.org/news-letters/v25n2/v25n2_frontcover.png')
          +row()
            td
              p.caption Watch the video to learn about MDMA biomarker research being conducted at Stanford University.
              hr.bold
    +row()
      td
        p Also, a warm thank you to all those who gave to our Zendo Project crowdfunding campaign on Indiegogo. We especially recognize Dr. Bronner's Magic Soaps, Britt Selvitelle, and two $10,000 anonymous donations, one a matching gift and one not processed through Indiegogo. <a href="http://www.maps.org/donate">maps.org/donate</a>
    +row(class='pad-bottom')
      td.interstitial
        p.callout Learn about <a href="http://www.maps.org/donate">including MAPS in your will or trust.</a>
